<%= form_with(model: server, class: "contents") do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
        <% server.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :provider %>
    <%= form.text_field :provider, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :instance_type %>
    <%= form.text_field :instance_type, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :paas %>
    <%= form.check_box :paas, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :vps %>
    <%= form.check_box :vps, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :cpu %>
    <%= form.number_field :cpu, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :dedicated_cpu %>
    <%= form.check_box :dedicated_cpu, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :ram %>
    <%= form.number_field :ram, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :price_per_month %>
    <%= form.number_field :price_per_month, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
