<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Capacity Estimation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-red-400'>
    <main class="container mx-auto mt-2 sm:mt-28 sm:px-5 flex justify-center">

      <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">

          <%= yield %>

        </div>
      </div>

    </main>
  </body>
</html>
